   <!-- Begin Footer Area -->
<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="/">
                                <img src="~/logo/light.png" alt="Logo">
                            </a>
                        </div>
                        <p class="short-desc mb-2">Website được Build trong 20 ngày nhưng chưa xong!!! </p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    S12, Lương Văn Can, Bình Khánh, Long Xuyên, An Giang,
                                </li>
                                <li>
                                    <i class="pe-7s-phone"></i>
                                    0378 588 869,
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://ncucong.developer@gmail.com">ncucong.developer@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="payment-method">
                            <a href="javascript:void(0)">
                                <img src="~/assets/images/payment/1.png" alt="Payment Method">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">My Account</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="/tai-khoan-cua-toi.html">Tài khoản của tôi</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© anh7dev Github <i class="fa fa-heart text-danger"></i>   <a href="https://github.com/anh7dev" target="_blank">ASP.NET 5.0</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Area End Here -->